<section class="hero" id="about">
    <div class="about-wrap">
        <h2 class="hero-title animated">About Me</h2>
        <div class="hero-line animated"></div>
        <div class="about-row">
            <div>
                <p class="lead animated">I'm a skilled Web Developer with a drive for front end development and design, as well as a solid background in object-oriented programming and full-stack web 
                    development. I am confident that I have the technical expertise, communication skills, and problem-solving abilities needed to excel in any role.
                </p>
                <p class="lead animated">In my previous roles, I have worked with various front-end frameworks such as Bootstrap, Material UI, and 
                    React, as well as backend technologies such as MongoDB, Express,and Node. I'm proficient with HTML5, CSS3, 
                    UX/UI Design, Graphic Design, and Content Management Systems (CMS). I have hands on experience developing web 
                    applications from scratch, creating well-designed eCommerce websites compliant with design standards, as 
                    well as ensuring website security and cross-browser compatibility.
                </p>
                <p class="lead animated">I've always had a strong interest in Software Development and spent the past
                    few years
                    focused on Web Development. In my free time however, I also enjoy digital design and art. As a
                    developer, my goal is to continue learning and growing, with the intention of expanding further
                    into UX/UI development. I am always eager to invest in new technologies and expand my skill
                    set.
                </p>
                <p class="lead animated">Here are a few technologies I've been working with recently:

                <div class="row">
                    <div class="col-4 animated">
                        <ul>
                            <li>Node.js</li>
                            <li>Express.js</li>
                            <li>AWS EC2</li>
                        </ul>
                    </div>
                    <div class="col-8 animated" style="animation-delay: 100ms;">
                        <ul>
                            <li>React.js</li>
                            <li>Next.js</li>
                            <li>Typescript</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about-col">
                <div class="animated" style="animation-delay: 100ms;">
                    <div class="hide-overflow">
                        <div href="#" class="about-img"></div>
                    </div>
                    <div class="about-border"></div>
                </div>
            </div>
        </div>
    </div>
</section>