<section class="hero" id="about">
    <div class="about-wrap">
        <h2 class="hero-title animated">About Me</h2>
        <div class="hero-line animated"></div>
        <div class="about-row">
            <div>
                <p class="lead animated">Hey! My name's Mohammed, but you can call me Mo. I'm a Full Stack developer with
                    a strong technical background in object-oriented programming and web development. Eager to
                    solve complex problems, with a strong passion for learning new technologies.</p>
                <p class="lead animated">As an artist, I greatly enjoy creating things with both form and functionality. I
                    find it a bit ironic, but when I started developing I'd been so invested in backend functionality that I
                    almost forgot to work on my front-end skills. I've improved a great deal since, I hope
                    you enjoy my work!
                </p>
                <p class="lead animated">I spent the past couple of years dedicating my free time to studying web
                    development. It's taken some time, but I've honestly had a great time burying myself in code.
                </p>
                <p class="lead animated">Here are a few technologies I've been working with recently:

                <div class="row">
                    <div class="col-4 animated">
                        <ul>
                            <li>Javascript</li>
                            <li>Node.js</li>
                            <li>Express.js</li>
                            <li>React.js</li>
                        </ul>
                    </div>
                    <div class="col-8 animated" style="animation-delay: 100ms;">
                        <ul>
                            <li>HTML/CSS</li>
                            <li>MongoDB</li>
                            <li>AWS EC2</li>
                            <li>Google Cloud Platform</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about-col">
                <div class="animated" style="animation-delay: 100ms;">
                    <div class="hide-overflow">
                        <div href="#" class="about-img"></div>
                    </div>
                    <div class="about-border"></div>
                </div>
            </div>
        </div>
    </div>
</section>