<div class="top-wrap">
    <div class="top-inner">
        <div class="fadeUp" style="animation-delay: 100ms;">
            <p class="lead">Hey, my name's</p>
        </div>
        <div class="fadeUp" style="animation-delay: 200ms;">
            <h1 class="hello">Mohammed Gahelrasoul.</h1>
        </div>
        <div class="fadeUp" style="animation-delay: 300ms;">
            <p class="lead">I'm a full-stack web developer.</p>
        </div>
        <div class="fadeUp" style="animation-delay: 400ms;">
            <div class="hello-line"></div>
        </div>
    </div>
</div>

</header>