<section class="hero" id="info-hero">
    <div class="row info-inner" id="gallery">
        <div class="col-md-6 order-2 order-md-1 info-image">
            <img src="imgs/site_Gallery.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <div class="info-text">
                <h2 style="font-weight: 100; font-family: 'Lato', sans-serif;text-shadow: .5px 0;"><i
                        class="fas fa-circle-notch"></i> Gallery</h2>
                <p class="lead">
                    A gallery page tailored to showcase high quality images. This page utilizes a responsive Masonry
                    Grid to line up the photos in clean, even columns on any device size. Images display info when
                    hovered and can be viewed in higher resolution when clicked. </p>
                <a href="/gallery" class="btn btn-lg btn-primary btn-block">Visit</a>
            </div>
        </div>
    </div>
    <div class="row info-inner" id="taste">
        <div class="col-md-6 order-2 info-image">
            <img src="imgs/site_Taste.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-1">
            <div class="info-text">
                <h2
                    style="font-family: 'Lato', sans-serif;color: #fff;text-transform: uppercase;letter-spacing:.15em;text-shadow: 0 2px #000, 0 2px 5px #242424;">
                    <i class="fab fa-envira"></i>Taste</h2>
                <p class="lead">A gallery page tailored to showcase a large variety of images. This page utilizes a
                    responsive Masonry Grid to line up the photos in clean, even columns on any device size. Images can
                    be used as links to redirect to another page.
                </p>
                <a href="/taste" class="btn btn-lg btn-primary btn-block">Visit</a>
            </div>
        </div>
    </div>
    <div class="row info-inner" id="finding-farmers">
        <div class="col-md-6 order-2 order-md-1 info-image">
            <img src="imgs/site_FindingFarmers.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <div class="info-text">
                <h2><img src="imgs/icon_FindingFarmers.ico" style="width: 50px;margin-right: -10px;"> Finding Farmers
                </h2>
                <p class="lead">Finding Farmers is a website that finds nearby Farmers Markets. We
                    make use of location services by default, but also have a search function that allows users to look
                    for markets anywhere in the United States! A Contact Us page to available to get in touch with the
                    developers as well. Finding Farmers is still in the early stages of development.
                </p>
                <a href="https://findingfarmers.com/" class="btn btn-lg btn-primary btn-block">Visit</a>
            </div>
        </div>
    </div>
    <div class="row info-inner" id="yelp-camp">
        <div class="col-md-6 order-2 info-image">
            <img src="imgs/site_YelpCamp.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-1">
            <div class="info-text">
                <h2 style="font-weight: 800;"><span style="margin: 0 -5px 0 0">Y</span>elp C<img
                        src="imgs/icon_YelpCamp.png" style="width: 35px; padding-bottom: 3px; margin: 0 -4px;">mp</h2>
                <p class="lead">Yelp Camp is essentially a Yelp-clone, but for campgrounds. It allows anyone to search
                    for and view campgrounds, as well as the comments that have been made on them. Users can add their
                    own campgrounds and comments after they register and sign-in. More features are in the works.
                </p>
                <a href="/yelpcamp" class="btn btn-lg btn-primary btn-block">Visit</a>
            </div>
        </div>
    </div>
    <div class="row info-inner" id="tech-blog">
        <div class="col-md-6 order-2 order-md-1 info-image">
            <img src="imgs/site_TechBlog.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <div class="info-text">
                <h2 style="font-family: 'Merriweather', serif;line-height: 1.2em;font-weight: 700;">Tech Blog
                    <p style="margin: -20px;">
                        <img src="imgs/icon_TechBlog.png" style="width: 100px; margin: 0;">
                    </p>
                </h2>

                <p class="lead">A blog page created with the theme of technology in mind. Allows the user to create and
                    manage blog posts for their audience. Posts are listed from newest to oldest, with the 3 most recent
                    posts being featured at the top of the page.
                </p>
                <a href="/techblog" class="btn btn-lg btn-primary btn-block">Visit</a>
            </div>
        </div>
    </div>
    <div class="row info-inner" id="tetris">
        <div class="col-md-6 order-2 info-image">
            <img src="imgs/site_Tetris.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-1">
            <div class="info-text">
                <h2><img src="imgs/icon_Tetris.png" style="width: 50px;margin: -20px;padding-bottom: 5px;"> Tetris</h2>
                <p class="lead">The classic game, Tetris! Features simple and advanced game modes, a pause/play button,
                    and a scorekeeper. Controls are also provided :)
                </p>
                <a href="/tetris" class="btn btn-lg btn-primary btn-block">Visit</a>
            </div>
        </div>
    </div>
    <!-- <div class="row info-inner" id="product">
        <div class="col-md-6 order-2 order-md-1 info-image">
            <img src="imgs/blank.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <div class="info-text">
                <h2>Product</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, illo magni. Nisi
                    deleniti, eligendi perspiciatis, dolorem nam facilis vero vel obcaecati illo repellendus itaque
                    doloribus quia optio sit? Incidunt accusamus distinctio temporibus explicabo omnis facere,
                    quisquam illum a consectetur saepe aliquid quasi libero nemo facilis modi ipsum, debitis iusto
                    in?
                </p>
                <button class="btn btn-lg btn-primary btn-block">Visit</button>
            </div>
        </div>
    </div> -->
    <!-- <div class="row info-inner" id="logos">
        <div class="col-md-6 order-2 order-md-1 info-image">
            <img src="imgs/blank.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <div class="info-text">
                <h2>Logos</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, illo magni. Nisi
                    deleniti, eligendi perspiciatis, dolorem nam facilis vero vel obcaecati illo repellendus itaque
                    doloribus quia optio sit? Incidunt accusamus distinctio temporibus explicabo omnis facere,
                    quisquam illum a consectetur saepe aliquid quasi libero nemo facilis modi ipsum, debitis iusto
                    in?
                </p>
                <button class="btn btn-lg btn-primary btn-block">Visit</button>
            </div>
        </div>
    </div> -->
</section>