<section class="hero" id="projects">
    <div class="projects-wrap">
        <h2 class="hero-title animated">My Projects</h2>

        <div class="hero-line animated"></div>
        <div class="row">
            <div class="col col-md-8 project-inner">
                <div class="animated">
                    <div id="ProjectsCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#ProjectsCarousel" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#ProjectsCarousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#ProjectsCarousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#ProjectsCarousel" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#ProjectsCarousel" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#ProjectsCarousel" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                            <button type="button" data-bs-target="#ProjectsCarousel" data-bs-slide-to="6"
                                aria-label="Slide 7"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="imgs/thumb_YelpCamp.jpg" class="d-block w-100" alt="Yelp Camp screenshot">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="project-overlay-carousel">
                                        <div class="text-content">
                                            <h5>Yelp Camp</h5>
                                            <p>Yelp-clone allowing for searching, viewing, and creating
                                                campgrounds/comments. Requires login for use.</p>
                                        </div>
                                        <div class="link-content">
                                            <a class="github-link" href="https://github.com/MGahelrasoul/YelpCamp"
                                                target="_blank" rel="noreferrer"></a>
                                            <a class="site-link" href="YelpCamp" target="_blank" rel="noreferrer"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <img src="imgs/thumb_WeatherApp.jpg" class="d-block w-100" alt="Weather App screenshot">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="project-overlay-carousel">
                                        <div class="text-content">
                                            <h5>Weather App</h5>
                                            <p>React Weather App using GeoDB Cities and OpenWeather API's.</p>
                                        </div>
                                        <div class="link-content">
                                            <a class="github-link" href="https://github.com/MGahelrasoul/Weather-App"
                                                target="_blank" rel="noreferrer"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="imgs/thumb_FindingFarmers.jpg" class="d-block w-100"
                                    alt="Maps API screenshot">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="project-overlay-carousel">
                                        <div class="text-content">
                                            <h5>Maps API</h5>
                                            <p>GCP project utilizing Maps APIs.</p>
                                        </div>
                                        <div class="link-content">
                                            <a class="github-link" href="https://github.com/MGahelrasoul/Maps-API"
                                                target="_blank" rel="noreferrer"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="imgs/thumb_Tetris.jpg" class="d-block w-100" alt="Tetris screenshot">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="project-overlay-carousel">
                                        <div class="text-content">
                                            <h5>Tetris</h5>
                                            <p>Playable Tetris game with options.</p>
                                        </div>
                                        <div class="link-content">
                                            <a class="github-link" href="https://github.com/MGahelrasoul/Tetris"
                                                target="_blank" rel="noreferrer"></a>
                                            <a class="site-link" href="Tetris" target="_blank" rel="noreferrer"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="imgs/thumb_TechBlog.jpg" class="d-block w-100" alt="Blog screenshot">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="project-overlay-carousel">
                                        <div class="text-content">
                                            <h5>Blog</h5>
                                            <p>Crud app using Create Read Update Delete operations.</p>
                                        </div>
                                        <div class="link-content">
                                            <a class="github-link" href="https://github.com/MGahelrasoul/Blog"
                                                target="_blank" rel="noreferrer"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="imgs/thumb_Gallery.jpg" class="d-block w-100" alt="Gallery screenshot">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="project-overlay-carousel">
                                        <div class="text-content">
                                            <h5>Gallery</h5>
                                            <p>An image gallery tailored for high quality images.</p>
                                        </div>
                                        <div class="link-content">
                                            <a class="github-link" href="https://github.com/MGahelrasoul/Image-Gallery"
                                                target="_blank" rel="noreferrer"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="imgs/thumb_Taste.jpg" class="d-block w-100" alt="Alt Gallery screenshot">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="project-overlay-carousel">
                                        <div class="text-content">
                                            <h5>Alt Gallery</h5>
                                            <p>A gallery page featuring a sidebar and masonry grid.</p>
                                        </div>
                                        <div class="link-content">
                                            <a class="github-link"
                                                href="https://github.com/MGahelrasoul/Alternate-Gallery" target="_blank"
                                                rel="noreferrer"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#ProjectsCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#ProjectsCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-6 col-md-4 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_YelpCamp.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Yelp Camp</h5>
                                <p>Express.js / MongoDB / EJS</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/YelpCamp" target="_blank"
                                    rel="noreferrer"></a>
                                <a class="site-link" href="YelpCamp" target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-line animated"></div>
        <div class="row">
            <div class="col-6 col-md-4 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_YelpCamp.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Yelp Camp</h5>
                                <p>Express.js / MongoDB / EJS</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/YelpCamp" target="_blank"
                                    rel="noreferrer"></a>
                                <a class="site-link" href="YelpCamp" target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_FindingFarmers.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Finding Farmers</h5>
                                <p>Google Cloud Platform</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/Maps-API" target="_blank"
                                    rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_Tetris.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Tetris</h5>
                                <p>Javascript</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/Tetris" target="_blank"
                                    rel="noreferrer"></a>
                                <a class="site-link" href="Tetris" target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_TechBlog.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Blog</h5>
                                <p>CRUD / MongoDB</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/Blog" target="_blank"
                                    rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_Gallery.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Gallery</h5>
                                <p>Node.js / MongoDB</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/Image-Gallery"
                                    target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_TermCalc.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Term Calculator</h5>
                                <p>Javascript</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/TermCalculator"
                                    target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_Taste.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Alt Gallery</h5>
                                <p>Node.js / MongoDB</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/Alternate-Gallery"
                                    target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>