<section class="hero" id="projects">
    <div class="projects-wrap">
        <h2 class="hero-title animated">My Projects</h2>
        <div class="hero-line animated"></div>
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_YelpCamp.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Yelp Camp</h5>
                                <p>Express.js / MongoDB / EJS</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/YelpCamp" target="_blank" rel="noreferrer"></a>
                                <a class="site-link" href="YelpCamp" target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_FindingFarmers.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Finding Farmers</h5>
                                <p>Google Cloud Platform</p>
                            </div>
                            <div class="link-content">
                                <!-- <a class="github-link" href="https://github.com/MGahelrasoul" target="_blank" rel="noreferrer"></a> -->
                                <a class="site-link" href="https://findingfarmers.com" target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_Tetris.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Tetris</h5>
                                <p>Javascript</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/Tetris" target="_blank" rel="noreferrer"></a>
                                <a class="site-link" href="Tetris" target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_TermCalc.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Term Calculator</h5>
                                <p>Javascript</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/TermCalculator" target="_blank" rel="noreferrer"></a>
                                <!-- <a class="site-link" href="Taste" target="_blank" rel="noreferrer"></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_TechBlog.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Blog - Demo</h5>
                                <p>CRUD / MongoDB</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/Blog" target="_blank" rel="noreferrer"></a>
                                <a class="site-link" href="Techblog" target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_Gallery.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Gallery - Demo</h5>
                                <p>Node.js / MongoDB</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/Image-Gallery" target="_blank" rel="noreferrer"></a>
                                <a class="site-link" href="Gallery" target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 project-inner">
                <div class="animated">
                    <div class="project-content" style="background-image: url('imgs/thumb_Taste.jpg');">
                        <div class="project-overlay">
                            <div class="text-content">
                                <h5>Alt Gallery - Demo</h5>
                                <p>Node.js / MongoDB</p>
                            </div>
                            <div class="link-content">
                                <a class="github-link" href="https://github.com/MGahelrasoul/Alternate-Gallery" target="_blank" rel="noreferrer"></a>
                                <a class="site-link" href="Taste" target="_blank" rel="noreferrer"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>