<section class="hero" id="projects-hero">
    <div class="projects-wrap">
        <div class="hero-title">
            <h2 class="">My Projects</h2>
            <div class="hero-line"></div>
            <p class="lead">Take a look at my most recent work</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 project-inner">
                <a href="#Gallery" class="gallery-btn">
                    <div class="project-content" style="background-image: url('imgs/site_Gallery.png');">
                        <img src="imgs/site_Gallery.png"
                            class="img-fluid">
                        <div class="project-overlay">
                            <div class="overlay-content">
                                <h5>Gallery</h5>
                                <p>Web Design</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 project-inner">
                <a href="#Taste" class="taste-btn">
                    <div class="project-content" style="background-image: url('imgs/site_Taste.png');">
                        <img src="imgs/site_Taste.png"
                            class="img-fluid">
                        <div class="project-overlay">
                            <div class="overlay-content">
                                <h5>Taste</h5>
                                <p>Web Design</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 project-inner">
                <a href="#FindingFarmers" class="findingFarmers-btn">
                    <div class="project-content" style="background-image: url('imgs/site_FindingFarmers.png');">
                        <img src="imgs/site_FindingFarmers.png"
                            class="img-fluid">
                        <div class="project-overlay">
                            <div class="overlay-content">
                                <h5>Finding Farmers</h5>
                                <p>Web Development</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 project-inner">
                <a href="#YelpCamp" class="yelpCamp-btn">
                    <div class="project-content" style="background-image: url('imgs/site_YelpCamp.png');">
                        <img src="imgs/site_YelpCamp.png"
                            class="img-fluid">
                        <div class="project-overlay">
                            <div class="overlay-content">
                                <h5>Yelp Camp</h5>
                                <p>Web Development</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 project-inner">
                <a href="#TechBlog" class="techBlog-btn">
                    <div class="project-content" style="background-image: url('imgs/site_TechBlog.png');">
                        <img src="imgs/site_TechBlog.png"
                            class="img-fluid">
                        <div class="project-overlay">
                            <div class="overlay-content">
                                <h5>Tech Blog</h5>
                                <p>Web Design</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 project-inner">
                <a href="#Tetris" class="tetris-btn">
                    <div class="project-content" style="background-image: url('imgs/site_Tetris.png');">
                        <img src="imgs/site_Tetris.png"
                            class="img-fluid">
                        <div class="project-overlay">
                            <div class="overlay-content">
                                <h5>Tetris</h5>
                                <p>Game</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-md-6 col-lg-6 col-xl-3 project-inner">
                <a href="#Product" class="product-btn">
                    <div class="project-content" style="background-image: url('imgs/site_Gallery.png');">
                        <img src="imgs/blank.png"
                            class="img-fluid">
                        <div class="project-overlay">
                            <div class="overlay-content">
                                <h5>Product</h5>
                                <p>Web Design</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- <div class="col-md-6 col-lg-6 col-xl-3 project-inner">
                <a href="#Logos" class="logos-btn">
                    <div class="project-content" style="background-image: url('imgs/site_Gallery.png');">
                        <img src="imgs/blank.png"
                            class="img-fluid">
                        <div class="project-overlay">
                            <div class="overlay-content">
                                <h5 class="">Logos</h5>
                                <p>Graphic Design</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>