<html>
    <head>
        <title>Tech Blog</title>
        <link rel="icon" href="https://i.ibb.co/XVTp9Pm/icon-Tech-Blog.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/techBlog.css">
    </head>
    <body>
        <div class="body">
            <nav class="navbar navbar-expand-md navbar-dark fixed-left text-center">
                <div class="nav-wrap">
                    <div class="icon-brand">
                        <div class="circle-brand">
                            <img class="rounded-circle" src="https://images.unsplash.com/photo-1483412468200-72182dbbc544?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=500&q=80">
                        </div>
                        <div class="brand">
                            <div class="brand-text">Techy</div>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse navbar navbar-dark" id="navbarToggleExternalContent">
                        <ul class="navbar-nav menu">
                            <li class="nav-item"><a href="/techblog" class="selected">Home</a></li>
                            <li class="nav-item"><a href="#">About</a></li>
                            <li class="nav-item"><a href="#">Contact</a></li>
                            <li class="nav-item"><a href="/techblog/blogs/new">New Post</a></li>
                        </ul>

                        <hr>

                        <footer class="footer nav-footer">
                            <div class="h5 mt-3 mb-2">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <!-- <a href="#"><i class="fab fa-snapchat"></i></a> -->
                                <a href="#"><i class="fab fa-spotify"></i></a>
                                <!-- <a href="#"><i class="fab fa-tumblr"></i></a> -->
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </footer>
                    </div>
                </div>
            </nav>