<%- include('partials/header') %>

<div class="top-wrap">
    <div class="top-inner">
        <p class="lead">Oops, looks like something went wrong...</p>
        <div class="hello-line"></div>
        <a class="resume-btn" href="/">Go Home</a>
    </div>
</div>

</header>

<%- include('partials/footer') %>