html {
    min-height: 100%;
    position: relative;
}
body {
    margin-left:250px;
    height: 100%;
    padding-top:0;
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
    background-color: #f2e9e4;
}

#main-container {
    margin-top: 2.2222em;
    margin-bottom: 2.2222em;
}

 /* Masonry Grid */
.grid-item {
    float: left;
    margin: 5px;
    width: 33.33%;
    padding: 10px;
    margin: 0;
  }
/* fluid 5 columns */
#grid-sizer{ 
    width: 33.33%;
}
.grid-item img {
    display: block;
    width: 100%;
}
.listing {
    padding: 0 10px;
}

/* Card overlay */
.fa-plus {
    position: absolute;
    font-size: xxx-large;
}
.card-img-overlay {
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 350ms;
}
.card-img-overlay:hover {
    opacity: 1;
    transition: opacity 350ms;
}
.overlay-background {
    background-color: #f2e9e4;
    transition: opacity 350ms;
}
.overlay-background:hover {
    opacity: .35;
    transition: opacity 350ms;
}
.card {
    border: 0;
}
/* End Card Overlay */

/* Nav Appearance */
.navbar.navbar-dark {
    background-color: #fff;
}
.nav-wrap {
    padding: .5rem 1rem;
    padding-left: 30px;
}
/* Brand */
.brand {
    width: auto;
    margin: 0 auto;
    margin-left: 0;
    font-family: 'Merriweather', serif;
}
.icon-brand {
    margin-bottom: 250px;
    width: auto;
}
.profile {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    margin: 50px;
    display: block;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1583078603507-65d00910f610?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3068&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-brand {
    color: #fff;
    text-transform: uppercase;
    letter-spacing:.15em;
    text-shadow: 0 2px #000, 0 2px 5px #f2e9e4;
}
/*  */

.menu{
    font-size:.80778rem;
    line-height:1.5;
    list-style:none;
    margin:0;
    padding:0;
}
.link {
    color:#4a4e69;
    transition: color .3s ease;
}
.link:hover {
    color:#c9ada7;
    text-decoration:none
}

button[type="submit" i] {
    background: none;
    padding: auto;
    border: 0;
}
button[type="submit" i]:focus {
    outline: none;
}
.nav-form {
    background-color: #f2e9e4;
    margin: 0 -45px;
    padding: 0 0 0 45px;
}
.navbar.fixed-left .navbar-nav .form-inline.nav-item {
    padding-bottom: 0;
}

.h5 .fab,
.h5 .far {
    padding: .1em;
    padding-left: 0;
}
.h5 {
    padding-left: .5em;
    padding-top: .3em;
    margin: 0 0 50px;
}
/* End Nav Appearance */

/* Fixed-Left Nav */
.navbar.fixed-left{
    position:fixed;
    top:0;
    left:0;
    right:auto;
    z-index:1030;
    bottom:0;
    width:250px;
    flex-flow:column nowrap;
    align-items:flex-start;
    padding: 0;
    overflow: auto;
    /* height: 100%; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.navbar.fixed-left::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.navbar.fixed-left {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.navbar.fixed-left .navbar-nav{
    flex-direction:column;
    width:100%
}
.navbar.fixed-left .navbar-nav .nav-item{
    margin: 5px;
    padding: .5em;
    margin: 0;
    font-size: 1.3334em;
    width:100%
}
/* End of Fixed-Left Nav */

/* Footer */
.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
}
.nav-wrap .footer {
    position: fixed;
    width: auto;
    background-color: #fff;
    padding-left: 77px;
    padding-right: 77px;
    border-top: 1px solid #f2e9e4;
}
.meta {font-size: .8em;}
.meta:hover {text-decoration: none;}
/* End Footer */