html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.body {
    padding-top:90px;
}

.main {
    padding-top: 3.3333em;
    padding-bottom: 3.3333em;
    padding-left: 3vw;
    padding-right: 3vw;
}
.inner-main {
    max-width: 1080px;
    padding-bottom: 2.3333em;
}
.feature {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.83333em 2.5em;
}

p {
    font-family: 'Merriweather', serif;
    font-size: .8777em;
    margin: 0 0 1.6667em;
    font-weight: 300;
}

.navbar {
    padding: 0;
    display: block;
}
.navbar.navbar-dark,
#navbarToggleExternalContent {
    background-color: #122136;
    height: auto;
}

.rounded-circle {
    width: 50px;
    height: 50px;
    border: 2px solid #f1faee;
    margin: auto;
    display: block;
    padding: 0;
}
.icon-brand {
    display: flex;
    flex-direction: column;
}
.circle-brand {
    margin: 0 0 1.6667em;
}
.brand {
    margin: 10px;
    margin-left: 0;
    font-family: 'Merriweather', serif;
    color: #f1faee;
}
.brand-text {
    font-size: 1.3334em;
    line-height: 1.2em;
    font-weight: 700;
}
.social-media {
    margin: 10px;
}

/* Menu Links */
.menu{
    border-bottom:1px solid #f1faee;
    font-size:.77778rem;
    line-height:1.5;
    letter-spacing:.15em;
    list-style:none;
    margin:0;
    padding:0;
    text-transform:uppercase;
}
.menu .nav-item {
    border-top: 1px solid #f1faee;
    margin: 5px;
    padding: .5em;
    margin: 0;
    font-size: 1.2em;
}
a {
    color:#f1faee;
    transition:background .2s ease,color .2s ease;
}
a > i {
    padding: .2em;
}
.selected,
a:hover {
    color: #457b9d;
    text-decoration: none;
}
.ui:hover {
    color: #e63946;
}
a.ui {
    color: #1d3557;
}
.btn-lg {
    padding: .3334em .96667em;
    font-size: 1.1em;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 0;
    letter-spacing: .15em;
}
.btn-primary {
    background-color: #1d3557;
    color: #f1faee;
    border: 1px solid #1d3557;
    transition:background .2s ease,color .2s ease, border .2s ease;
}
.btn-primary:hover {
    background-color: #f1faee;
    color: #457b9d;
    border: 1px solid #ffffff;
}

#delete {
    display: inline;
}

/* Cards */
.card {
    border: 0;
}
.card-body {
    padding: 0;
    padding-bottom: 10px;
}
.card .card-img{
    display:block;
    height:0;
    padding-top:60%;
    position:relative;
    width:100%;
    margin: 0 0 1.6667em;
}
.featured-card {
    padding: 0 .83334em;
}
.outer-card {
    flex: 0 0 100%;
}
.card img{
    height:100%;
    top:0;
    left:0;
    object-fit: cover;
    position:absolute;
    width:100%;
}
img {
    border: 0;
    vertical-align: 0;
    height: auto;
}

.lead {
    font-size: 1.2em;
    margin: auto;
    padding: 0;
}
.lead {
    font-size: 1.2em;
}
.title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    padding-left: 10px;
    border-left: 1px solid #e63946;
    padding-top: 10px;
    color: #1d3557;
}
.text-muted {
    color: #457b9d!important
}

/* Main Page post listing */
.inner-post {
    max-width: 700px;
    margin: 0 auto;
}
.post-head{
    font-size: 1.6667em;
    font-family: 'Merriweather', serif;
    margin-top: 10px;
    color: #1d3557!important;
}
.posts {
    margin: 0 auto;
    max-width: 700px;
}
.post-time {
    margin: .3334em 0 1.6667em;
}
.post-item {
    padding: 0 0 1.6667em;
    margin: 0 0 1.6667em;
    border-bottom: 1px solid #f1faee;
}
.description {
    margin: 0 0 1.6667em;
    border-bottom: 1px solid #f1faee;
}
/*  */

/*  */
.post-form {
    border: 1px solid #f1faee;
    border-radius: 3px;
    /* box-sizing: border-box; */
    margin-bottom: 3.3334em;
    padding: 1.6667em;
}
.form-label {
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0 0 .3334em;
    color: #457b9d;
}
.form-group {
    margin-bottom: 1.6667em;

}
.form-item {
    width: 100%;
}
/*  */

/* Post Page */
.post-body {
    margin: 1.6667em;
}
.post-title {
    font-size: 2.6667em;
    line-height: 1.2em;
    margin-bottom: .6667em;
}
.card .post-img {
    max-width: none;
    height: auto;
    padding: 0;
}
.card .post-img img {
    height: auto;
    position: relative;
}
/*  */

.new-edit {
    width: 70%;
}

/* Fixed-Left Nav */
.navbar.fixed-left{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1030
}

/* Medium -> Above Changes */
@media (min-width:768px){
    .body{
        margin-left:30vw;
        padding-top:0
    }
    /* Head Images */
    .first-images {
        object-fit: cover;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
    }
        
    .nav-wrap {
        padding: 3.6667em 1.6667em;
        height: 100%;
    }

    /* Brand */
    .brand {
        width: auto;
        margin: 0 0 3.3334em;
    }
    .rounded-circle {
        width: 100px;
        height: 100px;
        border: 2px solid #f1f1f1;
        display: block;
        padding: 0;
    }
    
    .navbar.fixed-left{
        bottom:0;
        width:30vw;
        flex-flow:column nowrap;
        align-items:flex-start
    }
    .navbar.fixed-left .navbar-collapse{
        flex-grow:0;
        flex-direction:column;
        width:100%
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav{
        flex-direction:column;
        width:100%
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item{
        width:100%
    }
    .navbar.fixed-left{
        right:auto
    }
    #recent-posts {
        font-size: 1.2em;
        margin: 0 80% 1.6667em auto;
        border-bottom: 1px solid #e63946;
    }
    .footer {
    width: 100%;
    left: 0;
    bottom: 0!important;
    padding-top: 50px;
    text-align: center!important;
    }
    .navbar.navbar-dark,
    #navbarToggleExternalContent {
        height: 100%;
    }
} 
/*  */
@media (min-width:952px){
    .navbar.fixed-left{
        width:285px;
    }
    .body{
        margin-left:285px;
    }

}

@media (min-width:1087px){
    .card .post-img {
        margin-left: calc(510px - 47vw);
        margin-right: calc(510px - 47vw);
        width: calc(94vw - 300px);
    }
}

/*  */
@media (min-width:1470px){
    .card .post-img {
        margin-left: -180px;
        margin-right: -180px;
        width: 1080px;
        height: auto;
    }
}

/*  */
@media (max-width:767px), 
     (min-width: 952px){
    
    /* Featured Cards Sizes */
    .outer-card:nth-child(2) {
        flex: 0 0 60%;
    }
    .outer-card:nth-child(3) {
        flex: 0 0 40%;
    }
    .outer-card:nth-child(3) .card-img {
        padding-top: calc(90% + 9px)
    }

    /* First Card Header */
    .outer-card:first-child > .featured-card {
        margin-bottom: 1.6667em;
    }
    .outer-card:first-child > .featured-card .card-body {
        background-color: rgb(29, 53, 87, .9);
        border-left: 2px solid #e63946;
        bottom: 1.6667em;
        left: 2.6667em;
        right: 2.6667em;
        margin: 0;
        padding: 1.6667em;
        position: absolute;
    }
    .outer-card:first-child > .featured-card .card-img {
        margin: 0;
    }
    .outer-card:first-child > .featured-card .card-body .caption .title{
        border: 0;
        padding: 0;
        color: #fff;
    }
}

/* Footer */
.footer {
    width: 100%;
    right: 0;
    bottom: 35px;
    padding-top: 0;
    text-align: right;
}
.main-footer {
    padding-top: 2.6667em;
    border-top: 1px solid #457b9d;
}
.nav-footer {
    bottom: 135px!important;
    position: absolute;
}
/*  */
.meta {
    font-size: .8em;
    font-weight: 300;
}
/* #1A232E */

/*  */

/* load animation */
.fadeInDown {
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}